body{
    text-align: center;
    font-family: Georgia;
}
#grid{
    margin-top:20;
    margin-left: 19%;
    margin-right: auto;
    width: 70%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    row-gap: 15%;
    grid-template-rows: 50% 50%;
}
#grid > p{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}
#grid > h1{
    grid-column: 2;
    grid-row: 1;
}
#overlaycontainer, #imagecontainer{
    width: 80%;
    left: 10%;
    right: 10%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 40vh;
}
.item{
    width: 250;
    height: 250;
    padding: 10px;
    border-radius: 5%;
}
.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10 ;
    width: 250;
    height: 250;
    border-radius: 5%;
    opacity: 0;
    transition-duration: .5s;
    color:white;
}
.overlay:hover{
    opacity: 1;
    transition-duration: .5s;
}
.overlay > p{
    padding: 2;
    margin: auto;
}
#screentime, #screentext{
    background-color: rgb(211, 109, 211);
}
#ring, #ringtext{
    background-color: rgb(97, 133, 233);
}
#netflix, #netflixtext{
    background-color: rgb(238, 104, 104);
}