@font-face {
    font-family: "w95fa";
    src: url("assets/W95FA.otf") format("opentype"),
    url("assets/w95fa.woff2") format("woff2"),
    url("assets/w95fa.woff") format("woff");
    font-family: "space";
    src: url("assets/SlightRegular.woff") format("woff")
  }
body{
    font-family: w95fa;
    font-size: large;
}
#BG{
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
#content{
    margin-left: auto;
    margin-right: auto;
    margin-left: 0px;
    margin-top: 13vh;
    width: 98vw;
}
h1{
    font-family: "space";
    position: relative;
    text-align: center;
    color: white;
    font-size: 60px;
    margin-bottom: 10vh;
}
#portrait{
    object-fit: cover;
    margin-top: 5vh;
    width: 9vw;
    height: 14vw;
}
#gridcont{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0px;
    left: 0px;
    gap: 3vh;
    background-color: rgba(230, 230, 250, 0);
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw;
    grid-template-rows: 30vh 30vh 30vh 30vh 30vh 30vh 30vh;
    display: grid;
    transition-duration: 200ms;
    margin-bottom: 2vh;
}
.item{
    height: 100%;
    width: 100%;
    color: black;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
}
 #outercontainer{
    margin-left: auto;
    margin-right: auto;
    padding: 3vh;
    width: 57vw;
    height: 28vh;
    overflow: hidden;
}
i{
    color: rgba(145, 144, 151);
    opacity: .3;
    transition: opacity ease-in-out .2s;
}
i:hover{
    opacity: .7
}
#up{
    position: absolute;
    top: 40vh;
    left: 17vw;
}
#down{
    position: absolute;
    left: 17vw;
    top: 53vh;
}
#caption{
    background-color: rgba(237, 217, 255, 0.6);
    display: grid;
    width: 55vw;
    padding: 2vh;
    border-radius: 10px;
    grid-template-columns: 9vw 17vw 26vw;
    gap: 3vh;
    grid-template-rows: 17vw auto;
    margin-bottom: 0vh;
}
#text{
    font-size: large;
    grid-row-start: 2;
    grid-column-start: -4;
    grid-column-end: 4;
}
img{
    height:100%;
    width: 100%;
}
#video{
    grid-column-start: 3;
}
iframe{
    width: 100%;
    height: 100%;
}
#X{
    color: rgba(71, 70, 73);
    position: absolute;
    top: 2vh;
    left: 2vh;
    height: 2vw;
    width: 2vw;
}
#captioncontainer{
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    padding: 0px;
    top: 21vh;
    left: -200vw;
    height: fit-content;
    position: absolute;
    width: fit-content;
}
#desc{
    background-color: rgba(237, 217, 255, 0.6);
    width: 57vw;
    padding: 2vh;
    margin-top: 14vh;
    margin-left: auto;
    margin-right:auto;
    border-radius: 10px;
    margin-bottom: 4vh;
}
#portrait2 img{
    border-radius: 100%;
}
#portrait img{
    border-radius: 5%;
}
.item img{
    border-radius: 5px;
}
