@font-face {
    font-family: "w95fa";
    src: url("assets/W95FA.otf") format("opentype"),
    url("assets/w95fa.woff2") format("woff2"),
    url("assets/w95fa.woff") format("woff");
  }
body{
    font-size: 32;
    background-image: url(assets/chess.png);
}
#start_menu{
    position: fixed;
    bottom: -754;
    z-index: -4;
    left: 0;
    transition-duration: .5s;
}
#startbutton:active + #start_menu{
    bottom: 12;
    transition-duration: .5s;
}
#startbar{
    position: fixed;
    background-color: rgb(192, 192, 192);
    border-top-style: ridge;
    padding: 9px;
    bottom: 0;
    left: 0;
    width: 100%;
    border-width: thick;
    z-index: 5;
}
#starticon{
    display: inline;
    margin: 0;
}
#startbutton{
    font-size: 24;
    font-family: 'w95fa', arial;
    font-weight: bold;
    background-color: rgb(190, 190, 190);
    border-style:outset;
    border-width: thick;
    padding: 5px ;
}
#startbutton:active{
    border-style: inset;
}
#desktop{
    display:flex;
    width:auto;
    flex-direction: column;
    align-items:flex-start;
    justify-content: left;
    margin: 0;
    padding: 10px;
    gap: 15px;
}
.icon{
    font-size: 32;
    font-family: "w95fa", arial;
    color:white;
    text-shadow: black 2px 2px 1px;
    text-align: center;
    padding: 10px;
    width: 75;
    height: auto;
}
.icon:active{
    border-width: 1px;
    border-style: dotted;
}
.iconimg{
    display: block;
    margin-left:auto;
    margin-right: auto;
}
